html {
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  background: url("../images/starfield.png");
}

.content {
  position: absolute;
  top: 272px;
  width: 100%;
}
h1, p {
  color: #fff;
  text-shadow: 0 0 .2em rgba(255, 255, 255, .7)
}

.btn {
  color: #b4fff4;
}

.btn-ghost {
}
